a.block-link{
    display: block;
    text-decoration: none;
    color: black;
}

a.block-link:hover{
    display: block;
    text-decoration: none;
}

tr.clickable-table-row{
    cursor: pointer;
}
a{
    text-decoration: none;
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}