a.block-link{
    display: block;
    text-decoration: none;
    color: black;
}

a.block-link:hover{
    display: block;
    text-decoration: none;
}

tr.clickable-table-row{
    cursor: pointer;
}
a{
    text-decoration: none;
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}


.slide-fade-enter-active {
    transition: all .6s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
.slide-fade-leave-active {
    transition: all .3s ease;
}
.slide-fade-enter, .slide-fade-leave-to{
    transform: translateY(-10px);
    opacity: 0;
}

.blur-enter-active{
    transition: all 0.3s ease;
}
.blur-leave-active{
    transition: all 0.3s ease;
}

.blur-enter, .blur-leave-to{
    -webkit-filter: blur(3px);
    filter: blur(3px);
}