<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj organizaciju</title>


    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/toast.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
</head>
<body>
    <div id="orgAdd">
        <div class="jumbotron"><h1>Prijava korisnika</h1></div>
        <div  class="container">
            Naziv organizacije: <input  type="text" v-model="oIme"/>
            <p  class="alert alert-danger d-none">
                Ovo polje je obavezno!
            </p>
            <br><br>
            Opis organizacije: <input type="text" v-model="oOpis"/>
            <p  class="alert alert-danger d-none">
                Ovo polje je obavezno!
            </p>
            <br><br>
            Odaberi sliku:  <input @change= "onFileSelected" class="slika" type="file"  name="slika" accept="image/*"/>
            <p  class="alert alert-danger d-none">
                Ovo polje je obavezno!
            </p>
            <br><br>
            <button  @click = "addOrganizaciju(oIme, oOpis)">Dodaj organizaciju</button>
        </div>

    </div>


    <div id="footer">

    </div>


    <script src="js/jquery.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/Vue.js"></script>
    <script src="js/toast.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="app/header.js"></script>
    <script src="app/organizacijaAdd.js"></script>
</body>
</html>