<html>
<head>
    <title>
        Prijavite se
    </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/toast.css">
    <link rel="shortcut icon" href="">
</head>
<body >
<div id="organizacije">
    <site-header>
    </site-header>
    <div class="jumbotron"><h1>Izmena organizacije {{oIme}}</h1></div>
    <div  class="container">
        Naziv organizacije: <input  type="text" v-model="oIme" v-bind:placeholder="organizacija.ime"/>
        <p  class="alert alert-danger d-none">
            Ovo polje je obavezno!
        </p>
        <br><br>
        Opis organizacije: <input type="text" v-model="oOpis" v-bind:placeholder="organizacija.opis"/>
        <p  class="alert alert-danger d-none">
            Ovo polje je obavezno!
        </p>
        <br><br>
        Odaberi sliku:  <input @change= "onFileSelected" class="slika" type="file"  name="slika" accept="image/*"  v-bind:placeholder="organizacija.imgPath"/>
        <p  class="alert alert-danger d-none">
            Ovo polje je obavezno!
        </p>
        <br><br>
        <button @click = "izmenaOrg(oIme, oOpis)">Izmeni organizaciju</button>
    </div>
</div>


<div id="footer">

</div>

<script src="js/jquery.js"></script>
<script src="js/popper.js"></script>
<script src="js/Vue.js"></script>
<script src="js/axios.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.1.10/vue-resource.min.js"></script>
<script src="js/toast.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="app/header.js"></script>
<script src="app/orgIzmena.js"></script>

</body>
</html>