<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodavanje virtuelne masine</title>


    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/toast.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
</head>
<body>
    <div id="virtuelnaMasinaAdd">
        <site-header>
        </site-header>
        <div class="jumbotron"><h1>Dodavanje kategorije</h1></div>
        <div  class="container">
            <div class="page-header">
                <h2>Nova virtuelna mašina</h2>
            </div>
            Ime virtuelne mašine: <input class="required" type="text" v-model="ime"/>
            <p  class="alert alert-danger d-none">
                Ovo polje je obavezno!
            </p>
            <br><br>
            Kategorija:
            <select class="required" v-model="kategorija" >
                <option v-for = "kat in vmKategorije" v-bind:value="kat.ime">{{kat.ime}}</option>
            </select>
            <p  class="alert alert-danger d-none">
                Ovo polje je obavezno!
            </p>
            <br><br>
            Organizacija:
            <select id="orginput" class="required" v-model="org" >
                <option v-for = "org in organizacije" v-bind:value="org.id">{{org.ime}}</option>
            </select>
            <p  class="alert alert-danger d-none">
                Ovo polje je obavezno!
            </p>
            <br><br>
            <button class="btn btn-secondary" @click = "addVM()">Dodaj kategoriju</button>
        </div>

    </div>



    <script src="js/jquery.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/Vue.js"></script>
    <script src="js/toast.js"></script>
    <script src="app/form-logic.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="app/header.js"></script>
    <script src="app/virtuelnaMasinaAdd.js"></script>
    </body>
</html>