<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodavanje kategorije</title>


    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/toast.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
</head>
<body>
<div id="vmKatAdd">
    <div class="jumbotron"><h1>Dodavanje kategorije</h1></div>
    <div  class="container">
        Naziv kategorije: <input  type="text" v-model="ime"/>
        <p  class="alert alert-danger d-none">
            Ovo polje je obavezno!
        </p>
        <br><br>
       Broj jezgara:  <input onkeypress="return event.charCode != 45" type="number" name="quantity" min="1" v-model="brJezgara">
        <p  class="alert alert-danger d-none">
            Ovo polje je obavezno!
        </p>
        <br><br>
        RAM (u GB):  <input onkeypress="return event.charCode != 45" type="number" name="quantity" min="0.01" v-model="ram">
        <p  class="alert alert-danger d-none">
            Ovo polje je obavezno!
        </p>
        <br><br>
        GPU jezgra:  <input onkeypress="return event.charCode != 45" type="number" name="quantity" min="0" v-model="gpuJezgara">
        <br><br>
        <button  @click = "addKat()">Dodaj kategoriju</button>
    </div>

</div>


<div id="footer">

</div>


<script src="js/jquery.js"></script>
<script src="js/popper.js"></script>
<script src="js/Vue.js"></script>
<script src="js/toast.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="app/header.js"></script>
<script src="app/vmKatAdd.js"></script>
</body>
</html>